.jumbotron {
    background-color: #8A9EA0;
    color: whitesmoke;
}
/*/*/
ul {
    display: grid;
    grid-template-columns: 50% 0% 50% 0%;   
}
/*/*/
li {
    list-style-type: none;
    margin: 10px;
}
/*/*/

.btn {
    color: #8A9EA0;
    border-color: #8A9EA0;
    /*padding: 25px;*/
    /*width: 100%;*/
}
/*/*/
.btn-outline-secondary /*.btn-lg .active*/ {
    padding: 25px;
    width: 100%;
}
/*/*/
.form-inline {
    position: relative;
    float: right;
    margin-right: 10px;
}




